{% extends 'partials/_base.twig' %}
{% block content %}
    <div class="section">
	<h2 class="section__header">
	    Upcoming Events
	</h2>
	<div class="section__body">
            <div class="section__entry">
                <div class="section__entry-title">
                    Lancaster Contest
                </div>
                <div class="section__entry-details">
                    <div class="section__entry-detail">
                        07 Mar
                    </div>
                    <div class="section__entry-detail">
                        Lancaster OH
                    </div>
                </div>
            </div>
            <div class="section__entry">
                <div class="section__entry-title">
                    Lancaster Contest
                </div>
                <div class="section__entry-details">
                    <div class="section__entry-detail">
                        07 Mar
                    </div>
                    <div class="section__entry-detail">
                        Lancaster OH
                    </div>
                </div>
            </div>
            <div class="section__entry">
                <div class="section__entry-title">
                    Lancaster Contest
                </div>
                <div class="section__entry-details">
                    <div class="section__entry-detail">
                        07 Mar
                    </div>
                    <div class="section__entry-detail">
                        Lancaster OH
                    </div>
                </div>
            </div>
	</div>
    </div>
    <div class="section">
	<h2 class="section__header">
	    Recent News
	</h2>
	<div class="section__body">
            <div class="section__entry">
                <div class="section__entry-title">
                    Lancaster Contest
                </div>
                <div class="section__entry-details">
                    <div class="section__entry-detail">
                        07 Mar
                    </div>
                    <div class="section__entry-detail">
                        Lancaster OH
                    </div>
                </div>
            </div>
            <div class="section__entry">
                <div class="section__entry-title">
                    Lancaster Contest
                </div>
                <div class="section__entry-details">
                    <div class="section__entry-detail">
                        07 Mar
                    </div>
                    <div class="section__entry-detail">
                        Lancaster OH
                    </div>
                </div>
            </div>
            <div class="section__entry">
                <div class="section__entry-title">
                    Lancaster Contest
                </div>
                <div class="section__entry-details">
                    <div class="section__entry-detail">
                        07 Mar
                    </div>
                    <div class="section__entry-detail">
                        Lancaster OH
                    </div>
                </div>
            </div>
	</div>
    </div>
{% endblock %}
