<div class="header-strip">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-wrapper">
                    <div class="logo">
                        Tri-Valley Bands
                    </div>
                    <div class="menu-icon" id="menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-wrapper" id="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                    {{ menu('main', 'partials/_menu_main.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
