@charset "utf-8";
/* CSS Document */

body {
  color:white;
  background-color:black;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#header {
  height:120px;
  margin:0;
}

#header a
{
  color:#E4C203;
  text-decoration:none;
}
#header h1
{
  width:550px;
  float:left;
  margin:0;
  height:120px;
  background: url("../images/logo.jpg");

}

div#directors
{
  color:#E4C203;
  font-size:20px;
  font-weight:lighter;
  letter-spacing:-1px;
  height:30px;
  padding-top:30px;
}

#container
{
  width:960px;
  margin-left:auto;
  margin-right:auto;
}

#content
{
  width:700px;
  float:right;
  margin-top:30px;
  margin-left:none;
}

#content h2
{
  margin-top:0;
  color:#E4C203;
  font-size:30px;
  letter-spacing:-2px;
  font-weight:lighter;
  border-bottom:#968107 1px dashed;
}

#content h3
{
  color:white;
  font-size:18px;
  font-weight:bold;
}
#content a
{
  color:#E4C203;
}

#content .emphasis
{
  color:#FF0000;
  font-weight:bold;
  font-style:italic;
}

#content ul
{
  line-height:140%;
}
#content li
{
  color:#E4C203;
}
#left
{
  width:200px;
  float:left;
}
#menu
{
  width:128px;
  padding-left:10px;
  padding-top:70px;
  padding-right:40px;
  background: url("../images/menu.jpg") top no-repeat #E4C203;
  float:left;
  margin-top:30px;
}

#menu ul
{
  margin:0;
  padding:0;
  list-style:none;
  line-height:180%;
}

#menu ul li
{
}

#menu ul li a
{
  color:black;
  text-decoration:none;
  font-size:14px;
}

#menu ul li a:hover
{
  color:#FF0000;
}


#announcements
{
  width:128px;
  clear:both;
  padding-left:10px;
  padding-top:70px;
  padding-right:40px;
  background: url("../images/Announcements.jpg") top no-repeat #E4C203;
  float:left;
  margin-top:20px;
  margin-bottom:150px;
  color:black;
}

#footer
{
  clear:both;
  width:960px;
  background: url("../images/footer.jpg") no-repeat;
  height:75px;
  margin-top:20px;
  padding-top:25px;
  text-align:center;
  color:black;
}
